<section id="ciderlistsection">
    <table class="ciderlisttable">
        <tr class="tableheader">
            <th></th>
            <th>Name</th>
            <th>Ciderhouse</th>
            <th>Location</th>
            <th>Grade</th>
            <th class="last-td hide">% ABV</th>
        </tr>
        <!--for each cider-->
        <% ciderList.forEach(cider => { %>
            <tr>
                <td><img class="listimg" src="<%=cider.LogoURL%>"></td>
                <td><%=cider.Name%></td>
                <td><%=cider.Cidery%></td>
                <td><%=cider.State_Country%></td>
                <td><%=cider.Score%> <%=cider.Grade%></td>
                <td class="last-td hide"><%=cider.ABV%></td>
            </tr>
        <%})%>
    </table>
</section>