<nav>
    <div class="menu-icon-wrapper">
        <img class="menu-icon" src="../assets/imgs/menu.svg">
    </div>
    <div class="app-icon-wrapper">
        <a href="/"><img class="app-icon" src="../assets/imgs/Cider_main-circle.png"></a>
        <a href="/"><img class="app-icon hide" src="../assets/imgs/Cider_main-bold.png"></a>
    </div>
    <ul class="nav-list hide">
        <li class="nav-item" id="gradebook"><p>My Gradebook</p>
            <ul name="gradebook" class="gradebook hide">
                <li>By Style ->
                    <ul name="style" id="style" class="hide">
                        <% for(var k in Object.keys(headerInfo.ciderStyles)) { %>
                            <% if(headerInfo.ciderStyles[Object.keys(headerInfo.ciderStyles)[k]] != null) { %>
                                <li  class="style"><%=Object.keys(headerInfo.ciderStyles)[k]%>  -></li>
                                <ul>
                                    <% for(var s in headerInfo.ciderStyles[Object.keys(headerInfo.ciderStyles)[k]]) { %>
                                        <li  class="sub-style hide"><a href="/styles/<%=headerInfo.ciderStyles[Object.keys(headerInfo.ciderStyles)[k]][s]%>?style=<%=Object.keys(headerInfo.ciderStyles)[k]%>"><%= headerInfo.ciderStyles[Object.keys(headerInfo.ciderStyles)[k]][s] %></a></li>
                                    <%}%>
                                </ul>
                            <%} else { %>
                                <li><a href="/styles/<%=Object.keys(headerInfo.ciderStyles)[k]%>?style=<%=Object.keys(headerInfo.ciderStyles)[k]%>"><%=Object.keys(headerInfo.ciderStyles)[k]%></a></li>
                            <%}%>
                        <%};%>
                    </ul>
                </li>  <!---flyout-->
                <li><a href="/grade">By Grade</a></li> <!---a tag-->
                <li>By Mood  ->
                    <ul name="mood" id="mood" class="mood hide">
                        <% headerInfo.ciderMoods.forEach(mood => { %>
                            <li><a href="/moods/<%=mood%>"><%= mood %></a></li>
                            <% }); %>
                        </ul>
                    </li>  <!---flyout-->
                <li>By Geography  ->
                    <ul name="geography" id="geography" class="geography hide">
                        <li>By Country</li><!---a tag-->
                        <li>By State</li><!---a tag-->
                        <li>By Map</li><!---a tag-->
                    </ul>
                </li> <!---flyout-->
                <li >By Cider House</li>  <!---a tag-->
                <li>By Name</li> <!---a tag-->
                <li><a href="/dates">By Date</a></li> <!---a tag-->
            </ul>
        </li>
        <li class="nav-item" id="gradphil"><p><a href="/philosophy">Grading Philosophy</a></p></li>
        <li id="app-icon-placeholder"></li>
        <li class="nav-item" id="complit"><p>Comparitive Lit Reviews</p>
            <ul name="complit" class="complit hide">
                <li>By Style  ->
                    <ul name="litstyle" id="litstyle" class="litstyle hide">
                        <% headerInfo.complitstyle.forEach(style => { %>
                            <li><%= style %></li>
                        <% }); %>
                    </ul>
                </li>
                <li>By Theme  ->
                    <ul name="theme" id="theme" class="theme hide">
                        <% headerInfo.complittheme.forEach(theme => { %>
                            <li><%= theme %></li>
                        <% }); %>
                    </ul>
                </li>
                <li><a href="/litsbydate"> Date </a></li>
            </ul>
        </li>
        <li class="nav-item" id="cidreviews"><p>Ciderhouse Reviews</p>
            <ul class="cidreviews hide">
                <li>By Name</li>
                <li id="crgeography">By Geography
                    <ul class="crgeography hide">
                        <li>By State</li>
                        <li>By Map</li>
                    </ul>
                 </li>
            </ul>
        </li>
    </ul>
</nav>


