<nav>
    <ul>
        <li>My Gradebook
            <label for="gradebook"></label>
            <ul name="gradebook" id="gradbook">
                <li>By Style
                    <ul name="style" id="style">
                        <% for(var k in Object.keys(ciderStyles)) { %>
                            <% if(ciderStyles[Object.keys(ciderStyles)[k]] != null) { %>
                                <li><%=Object.keys(ciderStyles)[k]%></li>
                                <ul>
                                    <% for(var s in ciderStyles[Object.keys(ciderStyles)[k]]) { %>
                                        <li><%= ciderStyles[Object.keys(ciderStyles)[k]][s] %></li>
                                    <%}%>
                                </ul>
                            <%} else { %>
                                <li><a href="/styles/<%=Object.keys(ciderStyles)[k]%>"><%=Object.keys(ciderStyles)[k]%></a></li>
                            <%}%>
                        <%};%>
                    </ul>
                </li>  <!---flyout-->
                <li>By Grade</li> <!---a tag-->
                <li>By Mood
                    <ul name="mood" id="mood">
                        <% ciderMoods.forEach(mood => { %>
                            <li><%= mood %></li>
                            <% }); %>
                        </ul>
                    </li>  <!---flyout-->
                <li>By Geography
                    <ul name="geography" id="geography">
                        <li>By Country</li><!---a tag-->
                        <li>By State</li><!---a tag-->
                        <li>By Map</li><!---a tag-->
                    </ul>
                </li> <!---flyout-->
                <li >By Cider House</li>  <!---a tag-->
                <li>By Name</li> <!---a tag-->
                <li>By Date</li> <!---a tag-->
            </ul>
        </li>
        <li>Grading Philosophy</li>
        <li>Comparitive Lit Reviews
            <ul>
                <li>By Style</li>
                <li>By Theme
                    <ul>
                        <li></li>
                    </ul>
                </li>
                <li>By Date</li>
            </ul>
        </li>
        <li>Ciderhouse Reviews
            <ul>
                <li>By Name</li>
                <li>By Geography
                    <ul>
                        <li>By State</li>
                        <li>By Map</li>
                    </ul>
                 </li>
            </ul>
        </li>
    </ul>
</nav>