<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cider Prof <%=cider.Name%></title>
    <link rel="shortcut icon" type="image/jpg" href="../assets/imgs/favicon.png"/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-473PJ4D0RP"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-473PJ4D0RP');
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="../app.js"></script>
    <link rel="stylesheet" href="../reset.css" />
    <link rel="stylesheet" href="../style.css" />
</head>

<body>
    <%- include('../layouts/NavBar') %>
        <section class="cider-detail-topsection">
            <img src="<%=cider.PicURL%>" class="glassimage">
            <ul class="cider-detail-topinfo">
                <li>
                    <h2><%=cider.Name%></h2>
                </li>
                <li>
                    <p><%=cider.Cidery%></p>
                </li>
                <li>
                    <p>Grade: <%=cider.Score%> <%=cider.Grade%></p>
                </li>
            </ul>
            <ul class="cider-detail-midinfo">
                <% Object.keys(cider.Style).forEach(s=> { %>
                    <li>Style: <%=s%>
                            <% if(cider.Style[s] !=null){ %>
                                - <%=cider.Style[s]%>
                            <% }; %>
                    </li>
                    <% }); %>
                    <li>Mood: <%=cider.Mood%>
                    </li>
                    <li>Location: <%=cider.State_Country%>
                    </li>
                    <li>Date Tried: <%=cider.Date_Tried[0]%> <%=cider.Date_Tried[1]%> </li>
                    <li>ABV: <%=cider.ABV%>%</li>
            </ul>
        </section>
        <section class="cider-detail-feedback">
            <h3>My Feedback: </h3>
            <p><%-cider.Feedback%></p>
        </section>
        <section class="cider-detail-description">
            <div>
                <h3>Product Description:</h3>
                <p><%=cider.Prodct_Description%></p>
            </div>
            <img src="<%=cider.LogoURL%>">
        </section>
        <% if(complits.length > 0){ %>
            <section class="cider-detail-feedback">
                <h3>Comparitive Lit Reviews:</h3>
                <% complits.forEach( lit => { %>
                    <a href="/complits/<%=lit.ID%>"><p><%=lit.Title%></p></a>
                <% }); %>
            </section>
        <%}%>
        <%- include('../layouts/Footer') %>
</body>

</html>