<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparative Lit Essay</title>
    <link rel="shortcut icon" type="image/jpg" href="./assets/imgs/favicon.png"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="../app.js"></script>
    <link rel="stylesheet" href="../reset.css" />
    <link rel="stylesheet" href="../style.css" />
</head>
<body>
    <%- include('../layouts/NavBar') %> 
    <section class="complit-header">
        <h1><%= complit.Title %> </h1>
        <ul class="complit-ciders-list">
            <% for(sa in complit.CidObjs) { %>
                <% if(complit.CidObjs[sa][1] == complit.Winner) { %>
                    <li class="winner">
                    <p><%= complit.CidObjs[sa][0] %> ✔️</p>
                    <p>(<%= complit.CidObjs[sa][2] %>)</p>
                    </li>
                <% } else { %>
                    <li>
                        <p><%= complit.CidObjs[sa][0] %></p>
                        <p>(<%= complit.CidObjs[sa][2] %>)</p>
                    </li>
                <% } %>
            <% } %>
        </ul>
    </section>
    <section class="complit-essay">
        <img class="complit-image" src="<%= complit.img_url %>">
        <h3>COMPARATIVE LIT ESSAY:</h3>
        <p><%- complit.Body %> </p>
    </section>
    <section class="complit-info-section">
        <ul class="complit-info-list">
            <li>Style: <%= complit.Style ? complit.Style : 'N/A' %> </li>
            <li>Theme: <%= complit.Theme ? complit.Theme : 'N/A' %> </li>
            <li>Date Tried: <%= complit.Date[0] %>,  <%= complit.Date[1] %></li>
        </ul>
        <h3>INDIVIDUAL REVIEWS:</h3>
        <ul class="complit-info-links">
            <% for(sa in complit.CidObjs) { %>
                <li><a href="/ciderdetail/<%=complit.CidObjs[sa][1]%>"> "<%= complit.CidObjs[sa][0] %>"  <%= complit.CidObjs[sa][2] %></a></li>
            <% } %>
        </ul>
    </section>
    <%- include('../layouts/Footer') %>
</body>
</html>