<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=review.Name%> Review</title>
    <link rel="shortcut icon" type="image/jpg" href="../assets/imgs/favicon.png"/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-473PJ4D0RP"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-473PJ4D0RP');
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="../app.js"></script>
    <link rel="stylesheet" href="../reset.css" />
    <link rel="stylesheet" href="../style.css" />
</head>
<body>
    <%- include('../layouts/NavBar') %>
    <section class="house-detail-topsection">
        <ul class="house-detail-topinfo">
            <li>
                <h2><%=review.Name%></h2>
            </li>
            <li>
                <p><%=review.City%></p>
            </li>
        </ul>
        <img src="<%=review.MainImg_url%>" class="cideryImg">
    </section>
    <section class="cider-detail-feedback">
        <p><%-review.Body%></p>
    </section>
    <section>
        <ul class="cider-detail-midinfo">
                <li>Visited: <%=review.Date[0]%>, <%=review.Date[1]%></li>
                <li><%=review.ContactAddress%></li>
                <li><a href="https://<%=review.ContactWebsite%>" target="_blank"><%=review.ContactWebsite%></a></li>
        </ul>
    </section>
    <section class="all-ciders-reviewed">
        <h3>Reviews featuring: <%=review.Name%></h3>
        <div>
            <ul class="heading">Ciders
                <% Object.keys(ciderNames).forEach( id => { %>
                    <li><a href="/ciderdetail/<%=id%>"><%=ciderNames[id]%></a></li>
                <%})%>
            </ul>
            <% if(compReviews){ %>
                <ul class="heading">Comparative Literature Reviews
                    <% Object.keys(compReviews).forEach( id => { %>
                        <li><a href="/complits/<%=id%>"><%=compReviews[id]%></a></li>
                    <%})%>
                </ul>
            <%}%>
        </div>
    </section>
    <!-- if available display -->
    <% if(review.OtherImgUrl) { %>
        <section class="otherImgSection">
            <% if(typeof(review.OtherImgUrl) == 'string') { %>
                <img src="<%=review.OtherImgUrl%>" class="otherImg">
            <%} else {%>
                <% review.OtherImgUrl.forEach( url => { %>
                    <div>
                        <img src="<%=url%>" class="otherImg">
                    </div>
                <%})%>
            <%}%>
        </section>
    <%}%>
    <%- include('../layouts/Footer') %>
</body>
</html>